<span class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" style="color: $color">$text</a>
<ul class=" dropdown-menu">
#foreach($entity in $entities)
<li>
<a target="_blank" href="$entity.props.link">$entity.displayString<br/>
<span class="small-text">$entity.type</span></a>
</li>
#end
</ul>
</span>